[submodule "Development/Src/EmpGame/Classes"]
	path = Development/Src/EmpGame/Classes
	url = git@bitbucket.org:jephir/empires-udk-unrealscript.git
[submodule "UDKGame/Content/Empires"]
	path = UDKGame/Content/Empires
	url = git@bitbucket.org:jephir/empires-udk-content.git
[submodule "UDKGame/Content/Maps/Empires"]
	path = UDKGame/Content/Maps/Empires
	url = git@bitbucket.org:jephir/empires-udk-maps.git
[submodule "UDKGame/Flash/EmpFlashAssets"]
	path = UDKGame/Flash/EmpFlashAssets
	url = git@bitbucket.org:jephir/empires-udk-flash.git
